body {
    font-family: Arial;
    padding: 20px;
    background: #ff2a2a;
}

h1 {
    text-align: center;
    font-size: 90px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movie-card {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.movie-card img {
    width: 100%;
}